version: '3.1'

services:

    nginx-proxy:
      image: jwilder/nginx-proxy:alpine
      ports:
        - "78.129.167.102:80:80"
        - "78.129.167.102:443:443"
        - "78.129.167.163:80:80"
        - "78.129.167.163:443:443"
      depends_on:
        - jenkins
        - subversion
        - icinga2
        - icinga2-apsn
        - mail2
        - portainer
        - kimai
        - redmine        
      labels:
        com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: "true"
      volumes:
        - html:/usr/share/nginx/html
        - certs:/etc/nginx/certs:ro
        - /var/run/docker.sock:/tmp/docker.sock:ro
        - /tmp/nginx-proxy/conf.d:/etc/nginx/conf.d
        - ./vhost.d:/etc/nginx/vhost.d

    letsencrypt:
      image: jrcs/letsencrypt-nginx-proxy-companion
      volumes:
        - certs:/etc/nginx/certs
        - html:/usr/share/nginx/html
        - /var/run/docker.sock:/var/run/docker.sock:ro
        - /tmp/nginx-proxy/conf.d:/etc/nginx/conf.d
        - ./vhost.d:/etc/nginx/vhost.d
      depends_on:
        - nginx-proxy

    jenkins:
      image: jenkins/jenkins:lts
      hostname: build
      domainname: anonymous-proxy-servers.net
      environment:
        - VIRTUAL_HOST=build.anonymous-proxy-servers.net
        - VIRTUAL_PORT=8080
        - LETSENCRYPT_HOST=build.anonymous-proxy-servers.net
        - LETSENCRYPT_EMAIL=oliver.meyer@jondos.de
      volumes:
        - /root/jenkins-files:/var/jenkins_home
      ports:
        - "50000:50000"

    subversion:
      image: marvambass/subversion
      hostname: svn
      domainname: jondos.de
      environment:
        - VIRTUAL_HOST=svn.jondos.de
        - LETSENCRYPT_HOST=svn.jondos.de
        - LETSENCRYPT_EMAIL=oliver.meyer@jondos.de
      volumes:
        - /root/svn-files/svn:/var/local/svn
        - /root/svn-files/dav_svn:/etc/apache/dav_svn

    icinga2:
      build: ./icinga2-escalert
      hostname: monitor
      domainname: jondos.de
      environment:
        - VIRTUAL_HOST=monitor.jondos.de
        - LETSENCRYPT_HOST=monitor.jondos.de
        - LETSENCRYPT_EMAIL=oliver.meyer@jondos.de
      ports:
        - "78.129.167.102:5665:5665"
      volumes:
        - /root/icinga2files/etc/icinga2:/etc/icinga2
        - /root/icinga2files/etc/icingaweb2:/etc/icingaweb2
        - /root/icinga2files/var/lib/icinga2:/var/lib/icinga2
        - /root/icinga2files/var/lib/mysql:/var/lib/mysql

    mail2:
      image: tvial/docker-mailserver:latest
      hostname: mail
      domainname: jondos.de
      ports:
        - "78.129.167.102:25:25"
        - "110:110"
        - "143:143"
        - "465:465"
        - "10465:465"
        - "587:587"
        - "10587:587"
        - "993:993"
        - "995:995"
      volumes:
        - /root/mail-files/data:/var/mail
        - /root/mail-files/state:/var/mail-state
        - /root/mail-files/config:/tmp/docker-mailserver
        - certs:/etc/letsencrypt/live
      environment:
        - VIRTUAL_HOST=mail.jondos.de
        - LETSENCRYPT_HOST=mail.jondos.de
        - LETSENCRYPT_EMAIL=oliver.meyer@jondos.de
        - ENABLE_SPAMASSASSIN=1
        - ENABLE_CLAMAV=1
        - ENABLE_FAIL2BAN=0
        - ENABLE_POSTGREY=1
        - ONE_DIR=1
        - DMS_DEBUG=1
        - ENABLE_SASLAUTHD=0
        - SSL_TYPE=letsencrypt
        - ENABLE_POP3=1
        - POSTGREY_AUTO_WHITELIST_CLIENTS=3
        - POSTGREY_DELAY=300
      cap_add:
        - NET_ADMIN
        - SYS_PTRACE

    shop2:
      build: ./shop
      hostname: shop
      domainname: anonymous-proxy-servers.net
      environment:
        - VIRTUAL_HOST=shop.anonymous-proxy-servers.net
        - LETSENCRYPT_HOST=shop.anonymous-proxy-servers.net
        - LETSENCRYPT_EMAIL=oliver.meyer@jondos.de
      volumes:
        - /root/shop/db:/var/lib/mysql
      #ports:
      #  - "78.129.167.5:80:80"
      #  - "78.129.167.5:443:443"

    ipcheck2:
      build: ./ipcheck
      hostname: ip-check.info
      volumes:
        - ipcheck-log:/var/log/apache2
      ports:
        - "21:21"
      environment:
        - VIRTUAL_HOST=ip-check.info,ipcheck.info,ip-check.org,sub.ip-check.info,what-is-my-ip-address.anonymous-proxy-servers.net,www.ip-check.info
        - LETSENCRYPT_HOST=ip-check.info,ipcheck.info,ip-check.org,sub.ip-check.info,what-is-my-ip-address.anonymous-proxy-servers.net,www.ip-check.info
        - LETSENCRYPT_EMAIL=oliver.meyer@jondos.de

    db:
      image: mariadb
      restart: always
      volumes:
        - db:/var/lib/mysql
      environment:
        - MYSQL_ROOT_PASSWORD=100%Jondos
        - MYSQL_PASSWORD=100%Jondos
        - MYSQL_DATABASE=nextcloud
        - MYSQL_USER=nextcloud

    nextcloud:
       image: nextcloud
       links:
         - db
       volumes:
         - /root/nextcloud_files:/var/www/html
       restart: always
       environment:
         - VIRTUAL_HOST=cloud.jondos.de
         - LETSENCRYPT_HOST=cloud.jondos.de
         - LETSENCRYPT_EMAIL=oliver.meyer@jondos.de

    redmine:
        image: rosenkranz_redmine:latest
        hostname: bugtracker
        domainname: anonymous-proxy-servers.net
        environment:
          - REDMINE_DB_MYSQL=mysql
          - REDMINE_DB_PASSWORD=100%Jondos
          - REDMINE_DB_ENCODING=utf8
          - REDMINE_DB_DATABASE=redmine3
          - REDMINE_DB_USERNAME=redmine
          - REDMINE_NO_DB_MIGRATE=true
          - LETSENCRYPT_EMAIL=oliver.meyer@jondos.de
          - LETSENCRYPT_HOST=bugtracker.anonymous-proxy-servers.net
          - VIRTUAL_HOST=bugtracker.anonymous-proxy-servers.net
          - VIRTUAL_PORT=3000
        depends_on:
          - mysql
        volumes:
          - /root/redmine_files/upload:/usr/src/redmine/files
          - /root/redmine_files/configuration.yml:/usr/src/redmine/config/configuration.yml

    portainer:
        image: portainer/portainer
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock
          - ./portainer:/endpoints
          - /root/portainer_files/data:/data
        command: --external-endpoints /endpoints/endpoints.json --logo "https://anonymous-proxy-servers.net/images/jondo220.png"

    kimai:
        build: ./kimai
        depends_on:
          - mysql
        restart: always
        hostname: timetracker
        domainname: anonymous-proxy-servers.net
        environment:
          - VIRTUAL_HOST=timetracker.anonymous-proxy-servers.net
          - LETSENCRYPT_EMAIL=oliver.meyer@jondos.de
          - LETSENCRYPT_HOST=timetracker.anonymous-proxy-servers.net

    etherpad-docker:
      build: ./etherpad-docker
      hostname: etherpad
      domainname: anonymous-proxy-servers.net
      environment:
        - LETSENCRYPT_EMAIL=oliver.meyer@jondos.de
        - LETSENCRYPT_HOST=timetracker.anonymous-proxy-servers.net
        - VIRTUAL_HOST=etherpad.anonymous-proxy-servers.net
        - VIRTUAL_PORT=9001
      depends_on:
        - mysql

    mysql:
        image: mysql/mysql-server
        restart: always
        environment:
          - MYSQL_ROOT_PASSWORD=100%Jondos
          - MYSQL_PASSWORD=100%Jondos
          - MYSQL_DATABASE=redmine3
          - MYSQL_USER=redmine
        volumes:
          - /root/mysql_rosenkranz:/var/lib/mysql

    icinga2-apsn:
      build: ./icinga2-escalert
      hostname: monitor
      domainname: anonymous-proxy-servers.net
      environment:
        - VIRTUAL_HOST=monitor.anonymous-proxy-servers.net
        - LETSENCRYPT_HOST=monitor.anonymous-proxy-servers.net
        - LETSENCRYPT_EMAIL=oliver.meyer@jondos.de
      ports:
        - "78.129.167.163:5665:5665"
      volumes:
        - /root/icinga2_rosenkranz_files/conf:/etc/icinga2
        - /root/icinga2_rosenkranz_files/db:/var/lib/mysql
        - /root/icinga2_rosenkranz_files/icinga2 to /var/lib/icinga2

volumes:
  certs:
  html:
  ipcheck-log:
  db:
